header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

header .wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: fit-content;
}

.wallet {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wallet span {
  font-size: 1.2em;
  color: hsl(240 5.9% 10%);
}

/* Sidebar Menu */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden */
  width: 250px;
  height: 100%;
  background-color: hsl(var(--background));
  color: hsl(240 5.9% 10%);
  padding: 20px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 1000;
}
.sidebar button {
  color: hsl(240 5.9% 10%);
}

.sidebar.open {
  transform: translateX(250px); /* Slide in when open */
}

.close-button {
  background: none;
  border: none;
  color: hsl(240 5.9% 10%);

  font-size: 1.5em;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  padding: 0;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.sidebar nav ul li {
  margin: 16px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.sidebar nav ul li a {
  color: hsl(240 5.9% 10%);

  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.acc_info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.acc_info_col {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: start;
  text-align: start;
  font-size: 14px;
}

.hr {
  width: 100%;
  height: 2px;
  background-color: hsl(var(--primary));
  margin-top: 1rem;
}
