.block_orders {
    border: 1px solid #bbfb4c;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0.5rem 0.7rem;
    margin: 1rem 0;
}
.support {
    margin: 0 1rem;
}
.support form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.support select,
.support textarea {
    border: 1px solid #bbfb4c;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    background: transparent;
    color: white;
}

.support textarea {
    padding: 0.5rem 0.7rem;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
}

.support .blocks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: 1rem; */
}

.support .blocks * {
    margin: 0;
}
